@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveAround {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(20vw, 30vh); }
  50%  { transform: translate(20vw, 50vh); }
  75%  { transform: translate(20vw, 90vh); }
  100% { transform: translate(0, 0); }
}

@keyframes moveLeftRight {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(88vw, 0vh); }
  50%  { transform: translate(0vw, 0vh); }
  75%  { transform: translate(88vw, 0vh); }
  100% { transform: translate(0, 0); }
}

@keyframes colorChange {
  0%   { color: red; }
  25%  { color: blue; }
  50%  { color: green; }
  75%  { color: orange; }
  100% { color: red; }
}

@keyframes bgChange {
  0%   { bg: red-500; }
  25%  { bg: blue-500; }
  50%  { bg: green-500; }
  75%  { bg: orange-500; }
  100% { bg: red-500; }
}

.moving-text {
  font-size: 2.5rem;
  font-weight: bold;
  animation: moveAround 30s infinite linear, colorChange 5s infinite;
}

.moving-text {
  font-size: 2.5rem;
  font-weight: bold;
  animation: moveAround 30s infinite linear, colorChange 8s infinite;
}

.moving-text-logout {
  font-size: 4.5rem;
  font-weight: bold;
  animation: moveAround 40s infinite linear, colorChange 6s infinite;
}

.moving-Left-Right {
  animation: moveLeftRight 50s infinite linear, colorChange 9s infinite;
}

.bg-change {
  /* animation:  bgChange 5s infinite; */
  background-color: bgChange 5s infinite;
  animation-direction: alternate-reverse;
}

.color-change {
  animation:  colorChange 5s infinite;
  animation-direction: alternate-reverse;
}

@keyframes flipY {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(30deg);
  }
}

@keyframes flipY2 {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(45deg);
  }
}

@keyframes flipX {
  0%, 100% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
}

@keyframes flipZ {
  0%, 50% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(60deg);
  }
}

.flip-animationY {
  animation: flipY 50s infinite linear;
  transform-style: preserve-3d;
}

.flip-animationY2 {
  animation: flipY2 15s infinite linear;
  transform-style: preserve-3d;
}

.flip-animationX {
  animation: flipX 15s infinite linear;
  transform-style: preserve-3d;
}

.flip-animationZ {
  animation: flipZ 15s infinite linear;
  transform-style: preserve-3d;
}

.flip-on-hover:hover {
animation-play-state: paused;
/* //  animation: flipY 5s linear; */
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
    opacity: 0.3;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: translateX(100%);
    opacity: 0.3;
  }
}

.shimmer-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(158, 219, 235, 0) 0%,
    rgba(171, 243, 129, 0.89) 50%,
    rgba(228, 240, 239, 0.699) 100%
  );
  animation: shimmer 15s linear infinite;
  pointer-events: none;
  z-index: 1;
}

.animated-border-glow::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background: radial-gradient(circle, rgba(255,255,255,0.6) 0%, transparent 70%);
  animation: spinGlow 3s linear infinite;
  border-radius: inherit;
  z-index: 1;
  pointer-events: none;
}

.animated-border-glow > * {
  position: relative;
  z-index: 2;
}

@keyframes spinGlow {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.animated-purple-shadow::before {
  content: "";
  position: absolute;
  top: -15%;
  left: -15%;
  width: 100%;
  height: 140%;
  border-radius: inherit;
  background: radial-gradient(circle, rgba(235, 24, 224, 0.315) 70%, transparent 100%);
  animation: rotateGlow 40s linear infinite;
  z-index: 1;
  pointer-events: none;
}

.animated-green-shadow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  border-radius: inherit;
  /* background: radial-gradient(circle, rgba(0, 255, 0, 0.4) 55%, transparent 80%); */
  background: radial-gradient(rgba(0,255,0,0.5) 10%, rgba(255,255,0,0.5) 30%, rgba(108, 156, 228, 0.5) 50%, transparent 100%);
  animation: rotateGlow2 0s linear infinite;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.animated-green-shadow2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 100%;
  border-radius: inherit;
  background: radial-gradient(circle, rgba(0, 255, 0, 0.4) 0%, transparent 80%);
  animation: rotateGlow2 40s linear infinite;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.animated-blue-shadow::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 50%;
  height: 70%;
  border-radius: inherit;
  background: radial-gradient(circle, rgba(92, 150, 238, 0.404) 0%, transparent 90%);
  animation: rotateGlow 20s linear infinite;
  z-index: 1;
  pointer-events: none;
}

@keyframes rotateGlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateGlow2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@theme inline { --radius-sm: calc(var(--radius) - 4px); --radius-md: calc(var(--radius) - 2px); --radius-lg: var(--radius); --radius-xl: calc(var(--radius) + 4px); --color-background: var(--background); --color-foreground: var(--foreground); --color-card: var(--card); --color-card-foreground: var(--card-foreground); --color-popover: var(--popover); --color-popover-foreground: var(--popover-foreground); --color-primary: var(--primary); --color-primary-foreground: var(--primary-foreground); --color-secondary: var(--secondary); --color-secondary-foreground: var(--secondary-foreground); --color-muted: var(--muted); --color-muted-foreground: var(--muted-foreground); --color-accent: var(--accent); --color-accent-foreground: var(--accent-foreground); --color-destructive: var(--destructive); --color-border: var(--border); --color-input: var(--input); --color-ring: var(--ring); --color-chart-1: var(--chart-1); --color-chart-2: var(--chart-2); --color-chart-3: var(--chart-3); --color-chart-4: var(--chart-4); --color-chart-5: var(--chart-5); --color-sidebar: var(--sidebar); --color-sidebar-foreground: var(--sidebar-foreground); --color-sidebar-primary: var(--sidebar-primary); --color-sidebar-primary-foreground: var(--sidebar-primary-foreground); --color-sidebar-accent: var(--sidebar-accent); --color-sidebar-accent-foreground: var(--sidebar-accent-foreground); --color-sidebar-border: var(--sidebar-border); --color-sidebar-ring: var(--sidebar-ring);
}

:root { --radius: 0.625rem; --background: oklch(1 0 0); --foreground: oklch(0.145 0 0); --card: oklch(1 0 0); --card-foreground: oklch(0.145 0 0); --popover: oklch(1 0 0); --popover-foreground: oklch(0.145 0 0); --primary: oklch(0.205 0 0); --primary-foreground: oklch(0.985 0 0); --secondary: oklch(0.97 0 0); --secondary-foreground: oklch(0.205 0 0); --muted: oklch(0.97 0 0); --muted-foreground: oklch(0.556 0 0); --accent: oklch(0.97 0 0); --accent-foreground: oklch(0.205 0 0); --destructive: oklch(0.577 0.245 27.325); --border: oklch(0.922 0 0); --input: oklch(0.922 0 0); --ring: oklch(0.708 0 0); --chart-1: oklch(0.646 0.222 41.116); --chart-2: oklch(0.6 0.118 184.704); --chart-3: oklch(0.398 0.07 227.392); --chart-4: oklch(0.828 0.189 84.429); --chart-5: oklch(0.769 0.188 70.08); --sidebar: oklch(0.985 0 0); --sidebar-foreground: oklch(0.145 0 0); --sidebar-primary: oklch(0.205 0 0); --sidebar-primary-foreground: oklch(0.985 0 0); --sidebar-accent: oklch(0.97 0 0); --sidebar-accent-foreground: oklch(0.205 0 0); --sidebar-border: oklch(0.922 0 0); --sidebar-ring: oklch(0.708 0 0);
}

.dark { --background: oklch(0.145 0 0); --foreground: oklch(0.985 0 0); --card: oklch(0.205 0 0); --card-foreground: oklch(0.985 0 0); --popover: oklch(0.205 0 0); --popover-foreground: oklch(0.985 0 0); --primary: oklch(0.922 0 0); --primary-foreground: oklch(0.205 0 0); --secondary: oklch(0.269 0 0); --secondary-foreground: oklch(0.985 0 0); --muted: oklch(0.269 0 0); --muted-foreground: oklch(0.708 0 0); --accent: oklch(0.269 0 0); --accent-foreground: oklch(0.985 0 0); --destructive: oklch(0.704 0.191 22.216); --border: oklch(1 0 0 / 10%); --input: oklch(1 0 0 / 15%); --ring: oklch(0.556 0 0); --chart-1: oklch(0.488 0.243 264.376); --chart-2: oklch(0.696 0.17 162.48); --chart-3: oklch(0.769 0.188 70.08); --chart-4: oklch(0.627 0.265 303.9); --chart-5: oklch(0.645 0.246 16.439); --sidebar: oklch(0.205 0 0); --sidebar-foreground: oklch(0.985 0 0); --sidebar-primary: oklch(0.488 0.243 264.376); --sidebar-primary-foreground: oklch(0.985 0 0); --sidebar-accent: oklch(0.269 0 0); --sidebar-accent-foreground: oklch(0.985 0 0); --sidebar-border: oklch(1 0 0 / 10%); --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.blink {
  animation: blink 5s infinite;
}

.flip-btn {
  perspective: 1000px; /* for 3D effect */
}

.flip-btn-inner {
  display: inline-block;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-btn:hover .flip-btn-inner {
  transform: rotateY(180deg); /* flip horizontally */
}

